<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.shopping.bbs.bbsMapper">
 
    <select id="BbsList" parameterType="com.shopping.bbs.form.bbsForm" resultType="com.shopping.bbs.dto.bbsDTO">
    
        SELECT *
        FROM SHOPPING.BBS
        
    
    </select>
    
    <select id="GetNext" parameterType="com.shopping.bbs.form.bbsForm" resultType="com.shopping.bbs.dto.bbsDTO">
    	
    	SELECT bbsID
    	FROM SHOPPING.BBS
    	ORDER BY bbsID DESC;
    
    </select>
    
    <select id="BbsView" parameterType="com.shopping.bbs.form.bbsForm" resultType="com.shopping.bbs.dto.bbsDTO">
    
    	SELECT *
    	FROM SHOPPING.BBS
        WHERE bbsID = #{bbsID}    	
    
    </select>
    
    <insert id="BbsWrite" parameterType="com.shopping.bbs.form.bbsForm">
		
		INSERT
		INTO SHOPPING.BBS
		VALUES
		(
			#{bbsID},
			#{category},
			#{subCategory},
			#{title},
			#{price},
			#{content},
			0
		) 
  
    </insert>
    
    <delete id="BbsDelete" parameterType="com.shopping.bbs.form.bbsForm">
    
    	DELETE
    	FROM SHOPPING.BBS
    	WHERE bbsID = #{bbsID}
    
    </delete>
    
    <delete id="BbsUpdate" parameterType="com.shopping.bbs.form.bbsForm">
    
    	UPDATE SHOPPING.BBS
    	SET #{bbsID},
			#{category},
			#{subCategory},
			#{title},
			#{price},
			#{content},
			#{sell}
		WHERE bbsID = #{bbsID}
    
    </delete>
</mapper>
