<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.shopping.bbs.orderMapper">
    
    <select id="OrderList" parameterType="com.shopping.bbs.form.orderForm" resultType="com.shopping.bbs.dto.orderDTO">
    
    	SELECT userID,CART.bbsID,amount,title,price
    	FROM SHOPPING.CART, SHOPPING.BBS
    	WHERE 	CART.bbsID = BBS.bbsID
    	AND		userID = #{userID}
    	AND		isOrder = 1
    	
    </select>   
    
    <select id="OrderBbs" parameterType="com.shopping.bbs.form.orderForm" resultType="com.shopping.bbs.dto.orderDTO">
    
    	SELECT *
    	FROM SHOPPING.ITEMORDER, (SELECT ORDERID,BBS.bbsID,amount,BBS.price,title from SHOPPING.ORDERITEMS,SHOPPING.BBS WHERE ORDERITEMS.bbsID=BBS.bbsID) AS ITEM
    	WHERE 	userID = #{userID}
    	AND		ITEMORDER.orderID=ITEM.orderID
    	GROUP BY ITEM.orderID
    	ORDER BY bbsID DESC
		LIMIT #{displayPost}, #{postNum}
    	
    </select>  
    
    <select id="OrderTotal" parameterType="com.shopping.bbs.form.bbsForm" resultType="int">
    
    	SELECT COUNT(*)
    	FROM SHOPPING.ITEMORDER
		WHERE userID = #{userID}
    
    </select>
    
    <select id="SubOrderList" parameterType="com.shopping.bbs.form.orderForm" resultType="com.shopping.bbs.form.orderForm">
    
    	SELECT userID,CART.bbsID,amount,title,price
    	FROM SHOPPING.CART, SHOPPING.BBS
    	WHERE 	CART.bbsID = BBS.bbsID
    	AND		userID = #{userID}
    	AND		isOrder = 1
    
    </select>  
    
    <select id="Items" parameterType="com.shopping.bbs.form.orderForm" resultType="int">
    	
    	SELECT COUNT(*)
    	FROM SHOPPING.ORDERITEMS
    	WHERE orderID = #{orderID}
    
    </select>
    
    <select id="GetNext" parameterType="com.shopping.bbs.form.orderForm" resultType="com.shopping.bbs.dto.orderDTO">
    	
    	SELECT orderID
    	FROM SHOPPING.ITEMORDER
    	ORDER BY orderID DESC;
    
    </select>
    
    <!-- 주문 이후의 주문 내역 -->
    <select id="OrderView" parameterType="com.shopping.bbs.form.orderForm" resultType="com.shopping.bbs.dto.orderDTO">
    
    	SELECT *
        FROM SHOPPING.ITEMORDER, SHOPPING.ORDERITEMS
        WHERE 	ITEMORDER.orderID = #{orderID}
        AND		ITEMORDER.orderID = ORDERITEMS.orderID
    
    </select>
    
    <insert id="OrderWrite" parameterType="com.shopping.bbs.form.orderForm">
		
		INSERT
		INTO SHOPPING.ITEMORDER
		VALUES
		(
			#{orderID},
			#{userID},
			#{orderName},
			#{addr1},
			#{addr2},
			#{addr3},
			#{phoneNumber},
			#{orderMemo},
			"상품준비중"
		) 
  
    </insert>
    
    <insert id="SubOrderWrite" parameterType="com.shopping.bbs.form.orderForm">
		
		INSERT
		INTO SHOPPING.ORDERITEMS
		VALUES
		(
			#{orderID},
			#{bbsID},
			#{amount},
			#{price}
		) 
  
    </insert>
    
    <delete id="OrderDelete" parameterType="com.shopping.bbs.form.orderForm">
    
    	DELETE
    	FROM SHOPPING.ITEMORDER
    	WHERE orderID = #{orderID}
    
    </delete>
    
    <delete id="SubOrderSuccess" parameterType="com.shopping.bbs.form.orderForm">
    
    	DELETE
    	FROM SHOPPING.CART
    	WHERE 	userID = #{userID}
    	AND		isOrder = 1
    
    </delete>
    
    <delete id="OrderUpdate" parameterType="com.shopping.bbs.form.orderForm">
    
    	UPDATE SHOPPING.BBS
    	SET orderName = #{orderName},
			addr1 = #{addr1},
			addr2 = #{addr2},
			addr3 = #{addr3},
			phoneNumber = #{phoneNumber},
			orderMemo = #{orderMemo},
			delivery = #{delivery},
		WHERE orderID = #{orderID}
    
    </delete>
</mapper>
